<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenw.orderservice.dao.OrderDao">
    <!-- 创建订单 -->
    <insert id="insertOrder" parameterType="Order" >
        INSERT  into t_order (pid,pname,count,totalprice) values (#{pid},#{pname},#{count},#{totalprice})
    </insert>
</mapper>